* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(185, 75%, 39%)
}

#bg-top {
    position: absolute;
    top: -100%;
    right: 50%;
}

#bg-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
}